
<br>
	<br>
	<br>
	
<script src="public/scripts/googlePlaces.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>



	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxnt3q6XZEqOtSJmtrl6z-ZTYYrY29Iv4&libraries=places&callback=initAutocomplete" async defer></script>

<script src="http://api.filestackapi.com/filestack.js"></script>

<script type="text/javascript">
 filepicker.setKey("As4LSqupJTjVvBXkoAMnPz");


 function uploadFile(){

 		response = event.fpfile.url;
 		console.log(response); //Example Response = https://cdn.filestackcontent.com/tgs6q0d2Qy4Hm35WcYqA

       //Set the respone as Scope.URL and call the POST method using Angular
       	


 	//alert(response);
 }</script>



	<div class="addproperty-wrapper container">
	<div class="row">


		<!-- form 1 -->
		<!-- <div class="width-100 make-table clearfix"> -->
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
			<h3> AirBnB - Register a Property </h3>
  
  				<form action="registerProperty" method="POST">
  					<div class="form-group">

					  	<label for="propertyTitle">Property Title</label>
					  	 <input type="text" name="PropertyTitle" class="form-control" id="propertyTitle">
					  	 <label for="propertyDescription"> Property Description</label>
					  	 <textarea id="propertyDescription"> </textarea><br>
  	 					<div class="col-lg-12 col-md-12 col-sm-5 hidden-xs no-padding common-div check-in-out-sec white-bg">
						<span ng-class="{'focused-on':vm.checkInDatePopUp.opened}" class="in-out-btn" ng-click="vm.openCheckinDate()">
						<input type="text" name="location" class="form-control check-in-box" uib-datepicker-popup="{{vm.format}}" ng-model="vm.checkInDate" is-open="vm.checkInDatePopUp.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" datepicker-append-to-body="true" placeholder="Check In"/>
					         
						</span>
						<span class="glyphicon glyphicon-arrow-right pad-top-5"></span>
						<span class="in-out-btn pad-top-5" ng-class="{'focused-on':vm.checkOutDatePopUp.opened}" class="in-out-btn" ng-click="vm.openCheckOutDate()">
						<input type="text"  class="form-control check-in-box" uib-datepicker-popup="{{vm.format}}" ng-model="vm.checkOutDate" is-open="vm.checkOutDatePopUp.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" datepicker-append-to-body="true" placeholder="Check Out"/>
						</span>
						<span class="remove-date">
							<svg viewBox="0 0 12 12" data-reactid=".3.0.0.0.1.0.0.0.3.1"><path d="M11.53.47a.75.75 0 0 0-1.061 0l-4.47 4.47L1.529.47A.75.75 0 1 0 .468 1.531l4.47 4.47-4.47 4.47a.75.75 0 1 0 1.061 1.061l4.47-4.47 4.47 4.47a.75.75 0 1 0 1.061-1.061l-4.47-4.47 4.47-4.47a.75.75 0 0 0 0-1.061z" data-reactid=".3.0.0.0.1.0.0.0.3.1.0"></path></svg>
						</span>
						</div>

					  	 <label for="propertyCategory"> Property Category </label>
					  	 <input type="radio" name="propertyCategory" id="propertyCategory" value="Private Room"> Private Room 
					  	 <input type="radio" name="propertyCategory" id="propertyCategory" value="Shared Room"> Shared Room 
					  	 <input type="radio" name="propertyCategory" id="propertyCategory" value="Entire Place"> Entire Place
					  	 <br>
					  	 <label for="ListingType"> Listing Type </label>
					  	 <input type="radio" name="listingType" value="sale"> Instant Booking 
					  	 <input type="radio" name="listtingType" value="auction"> Best Bid <br>

					 	<strong>Note: Auctionable Properties have start date and end date as the dates of stay. You must list your items accordingly. </strong>

  						<label for="autocomplete"> Address</label>
    					<div id="locationField">
					    	  <input id="autocomplete" name="Address" placeholder="Enter your address"
					             onFocus="geolocate()" class ="form-control" type="text"><<br>
					   	</div>

   		
   		 			</div>
   		 		</form>


    
				        Street address
				        <input class ="form-control" id="street_number"
				              disabled="true">
				        <input class ="form-control" id="route"
				              disabled="true">
				      
				        City
				        <!-- Note: Selection of address components in this example is typical.
				             You may need to adjust it for the locations relevant to your app. See
				             https://developers.google.com/maps/documentation/javascript/examples/places-autocomplete-addressform -->
				        <input class ="form-control" id="locality"
				              disabled="true">
				        State
				       <input class ="form-control"
				              id="administrative_area_level_1" disabled="true">
				       Zip code
				        <input class ="form-control" id="postal_code"
				              disabled="true">
				     Country
				        <input class ="form-control"
				              id="country" disabled="true">
				    	
				    	<label for="propertyQuantity"> Quantity</label>
				    	<input type="text" class="form-control" id="propertyQuantity">

				    	<label for="propertyBasePrice"> Base Price </label>
				    	<input type="text" class="form-control">


				    	<h3> Pricing Catalog </h3>

				    	<h4> Surges (Enter between 1.0 and 3.0) </h4>

				    	<label for="Weekend_Surge_Rate"> Weekend Surge Rate</label>
				    	<input type="text" class="form-control" id="Weekend_Surge_Rate">

				    	<label for="Holiday_Surge_Rate"> Holiday Surge Rate (November and December)</label>
				    	<input type="text" class="form-control" id="Holiday_Surge_Rate">

				    	<h4> Discounts </h4>
				    	<label for="Weekly_Discount_Rate"> Weekly Booking Discount </label>
				    	<input type="text" class="form-control" id="Weekly_Discount_Rate">

				    	<label for="Monthly_Discount_Rate"> Monthly Discount Rate </label>
				    	<input type="text" class="form-control" id="Monthly_Discount_Rate">




    	</div>
    	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

    		<h3> Media</h3>

    		<label for="PropertyImage Upload">
    		<h4> Upload Property Images </h4></label>

    		<input type="filepicker" data-fp-button-class ="btn btn-primary" data-fp-extensions=".png,.jpeg" data-fp-services="BOX,GOOGLE_DRIVE,COMPUTER" data-fp-multiple="true" data-fp-maxSize="10485760" data-fp-button-text="Upload Property Images" onchange="uploadFile()">
    		<h4> Upload Property Videos </h4>

			<input type="filepicker" data-fp-button-class ="btn btn-primary" data-fp-extensions=".mp4" data-fp-services="BOX,GOOGLE_DRIVE,COMPUTER" data-fp-multiple="true" data-fp-maxSize="100485760" data-fp-button-text ="Upload Property Videos" onchange="uploadFile()">


    	</div>
    	</div>
    	</div>

    

			