 <div class="subnav hide-print">
  <div class="page-container-responsive">
    <ul class="subnav-list">
      <li>
        <a href="#" aria-selected="false" class="subnav-item" id="dashboard-item">Dashboard</a>
      </li>
      <li>
        <a href="#" aria-selected="false" class="subnav-item cohosting-ml-tooltip-trigger" id="your-trips-item">Your Trips</a>
      </li>
      <li>
           <a href="#/bills" aria-selected="false" class="subnav-item" id="your-bills-item" >Your Bills</a>
      </li>
      <li>
        <a href="#" aria-selected="false" class="subnav-item" id="user-profile-item">Profile</a>
      </li>
       
    </ul>
  </div>
</div>



<div class="panel space-4">
  <div class="panel-header">
    User Profile
  </div>
  <div class="panel-body">

  <div class="row">
  <div class="col-md-2">
  
  
  </div>
  <div class="col-md-5">
<h3> Profile</h3>
  <div class="row row-condensed space-4">
        <label for="user_user_id">
          User ID
        </label>
        <div class="col-sm-9">
        <input type="text" size="30" id="user_user_id">
      </div>
      </div>
      <div class="row row-condensed space-4">
        <label for="user_first_name">
          First Name 
        </label>
        <div class="col-sm-9">
          
      <input id="user_First_name" size="30" type="text" value="Apoorv">

        </div>
      </div> 

          <div class="row row-condensed space-4">
        <label for="user_last_name">
          Last Name 
        </label>
        <div class="col-sm-9">
          
      <input id="user_last_name" size="30" type="text" value="Mehta">

          <div class="text-muted space-top-1">This is only shared once you have a confirmed booking with another Airbnb user.</div>
        </div>
      </div>

        

          <div class="row row-condensed space-4">
        <label for="user_email">
          Email Address <i class="icon icon-lock icon-ebisu" data-behavior="tooltip" aria-label="Private"></i>
        </label>
        <div class="col-sm-9">
          
        <input id="user_email" name="user[email]" size="30" type="text" value="apoorvpmehta@gmail.com">

          <div class="text-muted space-top-1">We won’t share your private email address with other Airbnb users. <a href="https://www.airbnb.com/help/article/694" target="blank">Learn more</a>.</div>
        </div>
      </div>

      <div class="row row-condensed space-4">
        <label for="user_phone">
         Phone Number <i class="icon icon-lock icon-ebisu" data-behavior="tooltip" aria-label="Private"></i>
        </label>
        <div class="col-sm-9">
          
        <input id="user_Phone" name="user_phone" size="30" type="text">

          
        </div>
      </div>
       
      

          <div class="row row-condensed space-4">
        <label for="user_profile_info_current_city">
          Where You Live 
        </label>
        <div class="col-sm-9">
      Street
      <input id="street" name="user_address_street"  size="30" type="text">
      City
      <input id="city" name="user_address_city" size="30" type="text">
      State
      <input id="state" name="user_address_state" size="30" type="text">
      ZipCode
      <input id="Zipcode" name="user_address_zipcode" size="30" type="text">
      Country
      <input id="Country" name="user_address_country" size="30" type="text">

          
        </div>
      </div>

          <div class="row row-condensed space-4">
        <label for="user_profile_info_about">
          Describe Yourself 
        </label>
        <div class="col-sm-9">
          
      <textarea cols="40" id="user_profile_info_about" name="user_profile_info[about]" rows="5"></textarea>

          <div class="text-muted space-top-1">Airbnb is built on relationships. Help other people get to know you.<br><br>Tell them about the things you like: What are 5 things you can’t live without? Share your favorite travel destinations, books, movies, shows, music, food.<br><br>Tell them what it’s like to have you as a guest or host: What’s your style of traveling? Of Airbnb hosting?<br><br>Tell them about you: Do you have a life motto?</div>
        </div>
      </div>
      
  </div>
  <div class="col-md-5">
  <h3> Credit Card Info</h3>
    <div class="row row-condensed space-4">
        <label for="user_Credit_card_name">
          Name
        </label>
        <div class="col-sm-9">
          <input id="user_Credit_card_name" name="user_credit_card_name"  size="30" type="text">
        </div>

          
      </div>
      <div class="row row-condensed space-4">
        <label for="user_Credit_card_Number">
          Number
        </label>
        <div class="col-sm-9">
          <input id="user_Credit_card_Number" name="user_credit_card_Number"  size="30" type="text">
        </div>

          
      </div>
      <div class="row row-condensed space-4">
        <label for="user_Credit_card_ExpiryMonth">
          Expiry
        </label>
        <div class="col-sm-9">
         Month
          <input id="user_Credit_card_ExpiryMonth" name="user_Credit_card_ExpiryMonth"  size="10" type="text">
          Year
          <input id="user_Credit_card_ExpiryYear" name="user_Credit_card_ExpiryYear" size="10" type="text">
        </div>              
      </div>

      <div class="row row-condensed space-4">
        <label for="user_Credit_card_zipcode">
          Zipcode
        </label>
        <div class="col-sm-9">
         
          <input id="user_Credit_card_zipcode" name="user_Credit_card_zipcode"  size="20" type="text">
          
        </div>

        </div>
        <div class="row row-condensed space-4">
        <label for="user_Credit_card_country">
          Country
        </label>
        <div class="col-sm-9">
         
          <input id="user_Credit_card_country" name="user_Credit_card_country"  size="30" type="text">
          
        </div>


        </div>
        <br>
        <br>
        <br>
        <button type="button" class="btn btn-primary"> Update Profile </button>

</div>


</div>

