  <br><br><br>
  <div class="subnav hide-print">
  <div class="page-container-responsive">
    <ul class="subnav-list">
      <li>
        <a href="#" aria-selected="false" class="subnav-item" id="dashboard-item">Dashboard</a>
      </li>
      <li>
        <a href="#" aria-selected="true" class="subnav-item cohosting-ml-tooltip-trigger" id="your-trips-item">Your Trips</a>
      </li>
      <li>
           <a href="#" aria-selected="false" class="subnav-item" id="your-bills-item" >Your Bills</a>
      </li>
      <li>
        <a href="#" aria-selected="false" class="subnav-item" id="user-profile-item">Profile</a>
      </li>
       
    </ul>
  </div>
</div>

  <div class="page-container-responsive space-4">
    <div id="your-trips-app-container">
      
        <div class="panel row space-top-4">
          <div class="col-md-12">

            <h2> My Trips</h2>
            <br>
            <br>
            <div class="row trip-detail">
            <div ng-repeat = "trips in vm.trips track by $index">
              <div class="col-md-6">
                <!-- <h3>#{{$index + 1}}</h3><br>
                <strong>{{trips.trip_id}}</strong> -->
                <h3>{{trips.property.propertyTitle}}</h3>
                
                <img src="{{trips.property.propertyPictures[0]}}">
                <!-- <p>{{trips.property.description}}</p> -->
                <br>
                <br>
              </div>
              <div class="col-md-6">
              <br><br><br>
                <strong><p><span style="font-size: 20px;"> Check-In Date: </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{trips.trip_start_date | date}}</p></strong>
                <strong><p><span style="font-size: 20px;">Check-out Date: </span>&nbsp;{{trips.trip_end_date | date}}</p></strong>
                <h4><span style="font-size: 20px;"> Trip Cost: </span>{{trips.bill.trip_amount}}</h4>
                <strong><p> <span style="font-size: 20px;"> {{trips.property.qty}}&nbsp;&nbsp;{{trips.property.category}}&nbsp;&nbsp;booked</span></p></strong>
                <!-- <strong><p>Category {{trips.property.category}}</p></strong>
                <strong><p>Quantity {{trips.property.qty}}</p></strong> -->
                <span uib-rating ng-model="trips.rate" max="vm.max" read-only="vm.isReadonly" on-hover="vm.hoveringOver(value)" on-leave="vm.overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></span>
                Rating:{{vm.rate}}
                <!-- <i class=" star-rating-star " aria-hidden="true" ng-click="vm.temp()"></i>
                <i class="fa fa-star" aria-hidden="true" ng-click="vm.temp()"></i> -->
                <br> 
                <br>
                <h2> {{trips.review}} </h2>
              </div>
              <div ng-if="($index+1) != vm.trips.length">
              <hr style="width:80%; border-color:#ff7e82; margin-bottom:40px;"> 
              </div>
              </div>
            </div>
  
                 

<!--             <div class="row trip-detail">
                  <div class="col-md-6">
                    <strong> trip_id #2</strong>
                    <h3>Trip.Property.PropertyTitle</h3>
                    Property Image
                    <img src="/public/images/room-list-images/room-1-b.png">
                    <p>Trip.Property.description was awesome place</p>
                    <br>
                    <br>
                  </div>
                  <div class="col-md-6">
                  <strong> Trip.start_date</strong>
                  <strong> Trip.end_date</strong>

                  <strong>Trip.Property.Category</strong>
                  <strong>Trip.Room Quantity</strong>
                  <h4>Booking amount</h4>
                  <br> 
                  <br>
                  <br>
                  <h2> Ratings and Review Rakhva hoy to ahiyan rakhi sakay </h2>
                 </div>
             </div> -->
          </div>
        </div>

        <div class="row no-trips">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="panel panel-your-trips space-top-4">
              <div class="panel-body panel-body-your-trips">
                <div class="title show-lg">Choose your next adventure
                </div>
                <div class="space-top-2 content">Invite friends to try Airbnb and you'll get $35 in travel credit when they take their first trip.
                </div>
                <div class="space-top-5 btn btn-large btn-primary btn-invite-friends">
                  <a href="#">
                    <div class="text-white invite">Invite Friends
                    </div>
                 </a>
                </div>
              </div>
              <div class="pin no-trips-img">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

 