 <div class="subnav hide-print">
  <div class="page-container-responsive">
    <ul class="subnav-list">
      <li>
        <a href="#" aria-selected="false" class="subnav-item" id="dashboard-item">Dashboard</a>
      </li>
      <li>
        <a href="#" aria-selected="false" class="subnav-item cohosting-ml-tooltip-trigger" id="your-trips-item">Your Trips</a>
      </li>
      <li>
           <a href="#/bills" aria-selected="false" class="subnav-item" id="your-bills-item" >Your Bills</a>
      </li>
      <li>
        <a href="#" aria-selected="false" class="subnav-item" id="user-profile-item">Profile</a>
      </li>
       
    </ul>
  </div>
</div>



<div class="panel space-4">
  <div class="panel-header">
    User Profile
  </div>
  <div class="panel-body">

  <div class="row">
  <div class="col-md-2">
  
  
  </div>
  <div class="col-md-5">
<h3> Profile</h3>
  <div class="row row-condensed space-4">
        <label for="user_user_id">
          User ID
        </label>
        <div class="col-sm-9">
        <input type="text" size="30" id="user_user_id" ng-model="vm.user.user_id" readonly disabled>
      </div>
      </div>
      <div class="row row-condensed space-4">
        <label for="user_first_name">
          First Name 
        </label>
        <div class="col-sm-9">
          
      <input id="user_First_name" size="30" type="text" value="" ng-model="vm.user.firstname">

        </div>
      </div> 
      <br>
          <div class="row row-condensed space-4">
        <label for="user_last_name">
          Last Name 
        </label>
        <div class="col-sm-9">
          
      <input id="user_last_name" size="30" type="text" value="" ng-model="vm.user.lastname">

          <div class="text-muted space-top-1">This is only shared once you have a confirmed booking with another Airbnb user.</div>
        </div>
      </div>

        

          <div class="row row-condensed space-4">
        <label for="user_email">
          Email Address <i class="icon icon-lock icon-ebisu" data-behavior="tooltip" aria-label="Private"></i>
        </label>
        <div class="col-sm-9">
          
        <input id="user_email" name="user[email]" size="30" type="text" value="" ng-model="vm.user.email">

          <div class="text-muted space-top-1">We won’t share your private email address with other Airbnb users. <a href="https://www.airbnb.com/help/article/694" target="blank">Learn more</a>.</div>
        </div>
      </div>

      <div class="row row-condensed space-4">
        <label for="user_phone">
         Phone Number <i class="icon icon-lock icon-ebisu" data-behavior="tooltip" aria-label="Private"></i>
        </label>
        <div class="col-sm-9">
          
        <input id="user_Phone" name="user_phone" size="30" type="text" ng-model="vm.user.phone">

          
        </div>
      </div>
       
      

          <div class="row row-condensed space-4">
        <label for="user_profile_info_current_city">
          Where You Live 
        </label>
        <div class="col-sm-9">
      Street
      <input id="street" name="user_address_street"  size="30" type="text" ng-model="vm.user.address.street">
      City
      <input id="city" name="user_address_city" size="30" type="text" ng-model="vm.user.address.city">
      State
      <input id="state" name="user_address_state" size="30" type="text" ng-model="vm.user.address.state">
      ZipCode
      <input id="Zipcode" name="user_address_zipcode" size="30" type="text" ng-model="vm.user.address.zipcode">
      Country
      <input id="Country" name="user_address_country" size="30" type="text" ng-model="vm.user.address.country">
        </div>
      </div>
      
  </div>
  <div class="col-md-5">
  <h3> Credit Card Info</h3>
    <div class="row row-condensed space-4">
        <label for="user_Credit_card_name">
          FirstName
        </label>
        <div class="col-sm-9">
          <input id="user_Credit_card_Firstname" name="user_credit_card_name"  size="30" type="text" ng-model="vm.user.creditcard.firstname">
        </div>
        <label for="user_Credit_card_Lastname">
          LastName
        </label>
        <div class="col-sm-9">
          <input id="user_Credit_card_Lastname" name="user_credit_card_name"  size="30" type="text" ng-model="vm.user.creditcard.lastname">
        </div>

          
      </div>
      <div class="row row-condensed space-4">
        <label for="user_Credit_card_Number">
          Number
        </label>
        <div class="col-sm-9">
          <input id="user_Credit_card_Number" name="user_credit_card_Number"  size="30" type="text" ng-model="vm.user.creditcard.creditcard">
        </div>

          
      </div>
      <div class="row row-condensed space-4">
        <label for="user_Credit_card_ExpiryMonth">
          Expiry
        </label>
        <div class="col-sm-9">
         Month
     <input id="user_Credit_card_ExpiryMonth" name="user_Credit_card_ExpiryMonth"  size="10" type="text" ng-model="vm.user.creditcard.expirymonth">
          Year
          <input id="user_Credit_card_ExpiryYear" name="user_Credit_card_ExpiryYear" size="10" type="text" ng-model="vm.user.creditcard.expiryyear">
        </div>              
      </div>

      <div class="row row-condensed space-4">
        <label for="user_Credit_card_zipcode">
          Zipcode
        </label>
        <div class="col-sm-9">
         
          <input id="user_Credit_card_zipcode" name="user_Credit_card_zipcode"  size="20" type="text" ng-model="vm.user.creditcard.postalcode">
          
        </div>

        </div>
        <div class="row row-condensed space-4">
        <label for="user_Credit_card_country">
          Country
        </label>
        <div class="col-sm-9">
         
          <input id="user_Credit_card_country" name="user_Credit_card_country"  size="30" type="text" ng-model="vm.user.creditcard.country">
          
        </div>


        </div>
        <br>
        <br>
        <br>
        <button type="button" class="btn btn-primary"> Update Profile </button>

</div>


</div>

