
.card{
	background-color: white;		
	border-style: solid solid solid solid;	
	border-width: 1px 1px 1px 1px;	
	border-color: #d6d6d6;
	padding:20px;
	margin-left:0px;
	margin-right:0px;
	margin-bottom:10px;
	
}

.cardDonut{
	background-color: white;		
	border-style: solid solid solid solid;	
	border-width: 1px 1px 1px 1px;	
	border-color: #d6d6d6;
	padding-top:10px;	
	padding-bottom:10px;
	margin-left:0px;
	margin-right:0px;
	margin-top:30px;
	margin-bottom:10px;
}

.fontchange{
	    font-family: "Helvetica neue",Helvetica,Arial,Sans-serif;
	    font-weight: 700;
	    font-size: 120%;
	    color : #000;
	    
}

.back{
background-color: #e2e2e2;	
}